body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:303px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:624px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5070 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:624px;
}
#u5071 {
  position:absolute;
  left:2px;
  top:304px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5072 {
  position:absolute;
  left:2px;
  top:0px;
  width:300px;
  height:31px;
}
#u5073 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u5074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5074 {
  position:absolute;
  left:8px;
  top:4px;
  width:23px;
  height:23px;
}
#u5075 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5076 {
  position:absolute;
  left:15px;
  top:48px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u5077 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u5078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5078 {
  position:absolute;
  left:15px;
  top:87px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u5079 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5080 {
  position:absolute;
  left:274px;
  top:90px;
  width:21px;
  height:21px;
}
#u5081 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5082 {
  position:absolute;
  left:214px;
  top:48px;
  width:78px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u5083 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u5084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5084 {
  position:absolute;
  left:235px;
  top:94px;
  width:34px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u5085 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u5086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5086 {
  position:absolute;
  left:13px;
  top:202px;
  width:277px;
  height:34px;
}
#u5087 {
  position:absolute;
  left:2px;
  top:9px;
  width:273px;
  word-wrap:break-word;
}
