body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:577px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18970 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:577px;
}
#u18971 {
  position:absolute;
  left:2px;
  top:280px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18972 {
  position:absolute;
  left:151px;
  top:797px;
  width:205px;
  height:98px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18973 {
  position:absolute;
  left:2px;
  top:38px;
  width:201px;
  word-wrap:break-word;
}
#u18974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18974 {
  position:absolute;
  left:424px;
  top:797px;
  width:205px;
  height:98px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18975 {
  position:absolute;
  left:2px;
  top:38px;
  width:201px;
  word-wrap:break-word;
}
#u18976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18976 {
  position:absolute;
  left:697px;
  top:797px;
  width:205px;
  height:98px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18977 {
  position:absolute;
  left:2px;
  top:38px;
  width:201px;
  word-wrap:break-word;
}
#u18978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18978 {
  position:absolute;
  left:60px;
  top:715px;
  width:181px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18979 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u18980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18980 {
  position:absolute;
  left:151px;
  top:894px;
  width:205px;
  height:245px;
}
#u18981 {
  position:absolute;
  left:2px;
  top:114px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18982 {
  position:absolute;
  left:424px;
  top:894px;
  width:205px;
  height:245px;
}
#u18983 {
  position:absolute;
  left:2px;
  top:114px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18984 {
  position:absolute;
  left:697px;
  top:894px;
  width:205px;
  height:245px;
}
#u18985 {
  position:absolute;
  left:2px;
  top:114px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18987 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
}
#u18988 {
  position:absolute;
  left:2px;
  top:18px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:35px;
}
#u18989 {
  position:absolute;
  left:23px;
  top:8px;
  width:27px;
  height:35px;
}
#u18990 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u18991 {
  position:absolute;
  left:60px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u18992 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u18993 {
  position:absolute;
  left:924px;
  top:22px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u18994 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u18995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18995 {
  position:absolute;
  left:896px;
  top:16px;
  width:20px;
  height:20px;
}
#u18996 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u18997 {
  position:absolute;
  left:836px;
  top:12px;
  width:29px;
  height:29px;
}
#u18998 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u18999 {
  position:absolute;
  left:857px;
  top:12px;
  width:11px;
  height:11px;
}
#u19000 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19001 {
  position:absolute;
  left:967px;
  top:14px;
  width:22px;
  height:22px;
}
#u19002 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19003 {
  position:absolute;
  left:436px;
  top:913px;
  width:182px;
  height:192px;
}
#u19004 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u19005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19005 {
  position:absolute;
  left:709px;
  top:913px;
  width:186px;
  height:192px;
}
#u19006 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u19007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u19008 {
  position:absolute;
  left:297px;
  top:782px;
  width:78px;
  height:78px;
}
#u19009 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19010 {
  position:absolute;
  left:308px;
  top:810px;
  width:55px;
  height:22px;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19011 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u19012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u19013 {
  position:absolute;
  left:575px;
  top:782px;
  width:78px;
  height:78px;
}
#u19014 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19015 {
  position:absolute;
  left:586px;
  top:810px;
  width:55px;
  height:22px;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19016 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u19017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u19018 {
  position:absolute;
  left:861px;
  top:782px;
  width:78px;
  height:78px;
}
#u19019 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19020 {
  position:absolute;
  left:872px;
  top:810px;
  width:55px;
  height:22px;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19021 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u19022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u19022 {
  position:absolute;
  left:480px;
  top:72px;
  width:65px;
  height:65px;
}
#u19023 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19024 {
  position:absolute;
  left:484px;
  top:158px;
  width:57px;
  height:16px;
}
#u19025 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u19026 {
  position:absolute;
  left:406px;
  top:196px;
  width:227px;
  height:14px;
  font-size:11px;
}
#u19027 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u19028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u19028 {
  position:absolute;
  left:508px;
  top:230px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u19029 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
