body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:303px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:528px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:528px;
}
#u943 {
  position:absolute;
  left:2px;
  top:256px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:51px;
}
#u944 {
  position:absolute;
  left:87px;
  top:195px;
  width:129px;
  height:51px;
}
#u945 {
  position:absolute;
  left:2px;
  top:18px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
