body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19342 {
  position:absolute;
  left:158px;
  top:196px;
  width:798px;
  height:196px;
}
#u19343 {
  position:absolute;
  left:2px;
  top:90px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19344 {
  position:absolute;
  left:158px;
  top:79px;
  width:798px;
  height:95px;
}
#u19345 {
  position:absolute;
  left:2px;
  top:40px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19346 {
  position:absolute;
  left:174px;
  top:93px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19347 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19348 {
  position:absolute;
  left:517px;
  top:92px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19349 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u19350 {
  position:absolute;
  left:588px;
  top:92px;
  width:67px;
  height:65px;
}
#u19351 {
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19352 {
  position:absolute;
  left:174px;
  top:212px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19353 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u19354 {
  position:absolute;
  left:876px;
  top:202px;
  width:58px;
  height:19px;
  font-size:11px;
}
#u19355 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u19356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19356 {
  position:absolute;
  left:174px;
  top:260px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19357 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:69px;
}
#u19358 {
  position:absolute;
  left:269px;
  top:308px;
  width:83px;
  height:69px;
}
#u19359 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u19360 {
  position:absolute;
  left:272px;
  top:95px;
  width:123px;
  height:14px;
  font-size:11px;
}
#u19361 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u19362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u19362 {
  position:absolute;
  left:272px;
  top:213px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u19363 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u19364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19364 {
  position:absolute;
  left:517px;
  top:211px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19365 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u19366 {
  position:absolute;
  left:610px;
  top:213px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u19367 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u19368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u19368 {
  position:absolute;
  left:272px;
  top:262px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u19369 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u19370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19370 {
  position:absolute;
  left:174px;
  top:308px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u19371 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:69px;
}
#u19372 {
  position:absolute;
  left:385px;
  top:308px;
  width:83px;
  height:69px;
}
#u19373 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:69px;
}
#u19374 {
  position:absolute;
  left:502px;
  top:308px;
  width:83px;
  height:69px;
}
#u19375 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:69px;
}
#u19376 {
  position:absolute;
  left:618px;
  top:308px;
  width:83px;
  height:69px;
}
#u19377 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:69px;
}
#u19378 {
  position:absolute;
  left:735px;
  top:308px;
  width:83px;
  height:69px;
}
#u19379 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:69px;
}
#u19380 {
  position:absolute;
  left:851px;
  top:308px;
  width:83px;
  height:69px;
}
#u19381 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u19382 {
  position:absolute;
  left:735px;
  top:93px;
  width:177px;
  height:16px;
  font-size:13px;
}
#u19383 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u19385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19385 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
}
#u19386 {
  position:absolute;
  left:2px;
  top:18px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:35px;
}
#u19387 {
  position:absolute;
  left:23px;
  top:8px;
  width:27px;
  height:35px;
}
#u19388 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u19389 {
  position:absolute;
  left:60px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u19390 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u19391 {
  position:absolute;
  left:924px;
  top:22px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u19392 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u19393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19393 {
  position:absolute;
  left:896px;
  top:16px;
  width:20px;
  height:20px;
}
#u19394 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u19395 {
  position:absolute;
  left:836px;
  top:12px;
  width:29px;
  height:29px;
}
#u19396 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u19397 {
  position:absolute;
  left:857px;
  top:12px;
  width:11px;
  height:11px;
}
#u19398 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19399 {
  position:absolute;
  left:967px;
  top:14px;
  width:22px;
  height:22px;
}
#u19400 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u19401 {
  position:absolute;
  left:171px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u19402 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u19403 {
  position:absolute;
  left:312px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u19404 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u19405 {
  position:absolute;
  left:453px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u19406 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u19408 {
  position:absolute;
  left:0px;
  top:50px;
  width:143px;
  height:530px;
  color:#666666;
  text-align:left;
}
#u19409 {
  position:absolute;
  left:2px;
  top:257px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u19410 {
  position:absolute;
  left:22px;
  top:65px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u19411 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u19412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u19412 {
  position:absolute;
  left:22px;
  top:102px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u19413 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u19414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u19414 {
  position:absolute;
  left:22px;
  top:452px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u19415 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u19416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u19416 {
  position:absolute;
  left:22px;
  top:207px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u19417 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u19418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u19418 {
  position:absolute;
  left:40px;
  top:242px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u19419 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u19420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u19420 {
  position:absolute;
  left:40px;
  top:137px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u19421 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u19422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u19422 {
  position:absolute;
  left:40px;
  top:172px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u19423 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u19424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u19424 {
  position:absolute;
  left:22px;
  top:277px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u19425 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u19426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u19426 {
  position:absolute;
  left:40px;
  top:312px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u19427 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u19428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u19428 {
  position:absolute;
  left:40px;
  top:347px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u19429 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u19430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u19430 {
  position:absolute;
  left:40px;
  top:382px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u19431 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u19432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u19432 {
  position:absolute;
  left:40px;
  top:417px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u19433 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u19434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u19434 {
  position:absolute;
  left:22px;
  top:487px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u19435 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u19436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u19436 {
  position:absolute;
  left:22px;
  top:522px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u19437 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
