body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:638px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17057 {
  position:absolute;
  left:159px;
  top:92px;
  width:189px;
  height:638px;
}
#u17058 {
  position:absolute;
  left:2px;
  top:311px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17060 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
}
#u17061 {
  position:absolute;
  left:2px;
  top:18px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:35px;
}
#u17062 {
  position:absolute;
  left:23px;
  top:8px;
  width:27px;
  height:35px;
}
#u17063 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u17064 {
  position:absolute;
  left:60px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u17065 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u17066 {
  position:absolute;
  left:924px;
  top:22px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u17067 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u17068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17068 {
  position:absolute;
  left:896px;
  top:16px;
  width:20px;
  height:20px;
}
#u17069 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u17070 {
  position:absolute;
  left:836px;
  top:12px;
  width:29px;
  height:29px;
}
#u17071 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u17072 {
  position:absolute;
  left:857px;
  top:12px;
  width:11px;
  height:11px;
}
#u17073 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u17074 {
  position:absolute;
  left:967px;
  top:14px;
  width:22px;
  height:22px;
}
#u17075 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17076 {
  position:absolute;
  left:171px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17077 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17078 {
  position:absolute;
  left:312px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17079 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17080 {
  position:absolute;
  left:453px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17081 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:527px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u17083 {
  position:absolute;
  left:0px;
  top:50px;
  width:143px;
  height:527px;
  color:#666666;
}
#u17084 {
  position:absolute;
  left:2px;
  top:256px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u17085 {
  position:absolute;
  left:15px;
  top:77px;
  width:113px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u17086 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u17087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u17087 {
  position:absolute;
  left:15px;
  top:119px;
  width:113px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u17088 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u17089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u17089 {
  position:absolute;
  left:15px;
  top:160px;
  width:113px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u17090 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u17091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u17091 {
  position:absolute;
  left:15px;
  top:202px;
  width:113px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u17092 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u17093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u17093 {
  position:absolute;
  left:15px;
  top:243px;
  width:113px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u17094 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u17095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u17095 {
  position:absolute;
  left:15px;
  top:285px;
  width:113px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u17096 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u17097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u17097 {
  position:absolute;
  left:166px;
  top:67px;
  width:143px;
  height:16px;
  color:#0000FF;
}
#u17098 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u17099 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u17100 {
  position:absolute;
  left:174px;
  top:228px;
  width:48px;
  height:48px;
  font-size:11px;
}
#u17101 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  word-wrap:break-word;
}
#u17102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17102 {
  position:absolute;
  left:239px;
  top:231px;
  width:29px;
  height:16px;
}
#u17103 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17104 {
  position:absolute;
  left:239px;
  top:259px;
  width:15px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17105 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u17106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17106 {
  position:absolute;
  left:267px;
  top:259px;
  width:65px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17107 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u17109 {
  position:absolute;
  left:174px;
  top:299px;
  width:48px;
  height:48px;
  font-size:11px;
}
#u17110 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  word-wrap:break-word;
}
#u17111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17111 {
  position:absolute;
  left:239px;
  top:302px;
  width:29px;
  height:16px;
}
#u17112 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17113 {
  position:absolute;
  left:239px;
  top:330px;
  width:15px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17114 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u17115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17115 {
  position:absolute;
  left:267px;
  top:330px;
  width:65px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17116 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u17118 {
  position:absolute;
  left:174px;
  top:371px;
  width:48px;
  height:48px;
  font-size:11px;
}
#u17119 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  word-wrap:break-word;
}
#u17120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17120 {
  position:absolute;
  left:239px;
  top:374px;
  width:29px;
  height:16px;
}
#u17121 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17122 {
  position:absolute;
  left:239px;
  top:402px;
  width:15px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17123 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u17124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17124 {
  position:absolute;
  left:267px;
  top:402px;
  width:65px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17125 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u17127 {
  position:absolute;
  left:174px;
  top:442px;
  width:48px;
  height:48px;
  font-size:11px;
}
#u17128 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  word-wrap:break-word;
}
#u17129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17129 {
  position:absolute;
  left:239px;
  top:445px;
  width:29px;
  height:16px;
}
#u17130 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17131 {
  position:absolute;
  left:239px;
  top:473px;
  width:15px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17132 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u17133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17133 {
  position:absolute;
  left:267px;
  top:473px;
  width:65px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17134 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:67px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17135 {
  position:absolute;
  left:159px;
  top:147px;
  width:189px;
  height:67px;
}
#u17136 {
  position:absolute;
  left:2px;
  top:26px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u17137 {
  position:absolute;
  left:174px;
  top:156px;
  width:48px;
  height:48px;
  font-size:11px;
}
#u17138 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  word-wrap:break-word;
}
#u17139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17139 {
  position:absolute;
  left:239px;
  top:159px;
  width:29px;
  height:16px;
}
#u17140 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17141 {
  position:absolute;
  left:239px;
  top:187px;
  width:15px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17142 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u17143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17143 {
  position:absolute;
  left:267px;
  top:187px;
  width:65px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17144 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:638px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u17145 {
  position:absolute;
  left:348px;
  top:92px;
  width:661px;
  height:638px;
  font-size:11px;
}
#u17146 {
  position:absolute;
  left:2px;
  top:311px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u17147 {
  position:absolute;
  left:389px;
  top:110px;
  width:48px;
  height:48px;
  font-size:11px;
}
#u17148 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  word-wrap:break-word;
}
#u17149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u17149 {
  position:absolute;
  left:459px;
  top:110px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u17150 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17151 {
  position:absolute;
  left:389px;
  top:168px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17152 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u17153 {
  position:absolute;
  left:582px;
  top:118px;
  width:24px;
  height:14px;
  font-size:11px;
}
#u17154 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u17155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u17155 {
  position:absolute;
  left:632px;
  top:118px;
  width:40px;
  height:14px;
  font-size:11px;
}
#u17156 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u17157 {
  position:absolute;
  left:547px;
  top:118px;
  width:12px;
  height:14px;
  font-size:11px;
}
#u17158 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u17159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u17159 {
  position:absolute;
  left:704px;
  top:118px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u17160 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u17161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u17161 {
  position:absolute;
  left:458px;
  top:168px;
  width:523px;
  height:98px;
  font-size:11px;
}
#u17162 {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u17163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17163 {
  position:absolute;
  left:389px;
  top:411px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17164 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u17165 {
  position:absolute;
  left:458px;
  top:411px;
  width:68px;
  height:14px;
  font-size:11px;
}
#u17166 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u17167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u17167 {
  position:absolute;
  left:536px;
  top:411px;
  width:78px;
  height:14px;
  font-size:11px;
}
#u17168 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u17169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u17169 {
  position:absolute;
  left:458px;
  top:456px;
  width:49px;
  height:14px;
  font-size:8px;
  color:#999999;
}
#u17170 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u17171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u17171 {
  position:absolute;
  left:515px;
  top:456px;
  width:49px;
  height:14px;
  font-size:8px;
  color:#999999;
}
#u17172 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u17173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u17173 {
  position:absolute;
  left:572px;
  top:456px;
  width:49px;
  height:14px;
  font-size:8px;
  color:#999999;
}
#u17174 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u17175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u17175 {
  position:absolute;
  left:631px;
  top:456px;
  width:49px;
  height:14px;
  font-size:8px;
  color:#999999;
}
#u17176 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u17177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17177 {
  position:absolute;
  left:389px;
  top:502px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17178 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u17179 {
  position:absolute;
  left:458px;
  top:502px;
  width:269px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u17180 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u17181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u17181 {
  position:absolute;
  left:943px;
  top:503px;
  width:39px;
  height:14px;
  font-size:11px;
}
#u17182 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u17183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u17183 {
  position:absolute;
  left:458px;
  top:550px;
  width:144px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u17184 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u17185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u17185 {
  position:absolute;
  left:910px;
  top:552px;
  width:72px;
  height:14px;
  font-size:11px;
}
#u17186 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u17187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:14px;
}
#u17187 {
  position:absolute;
  left:458px;
  top:574px;
  width:117px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u17188 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u17189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17189 {
  position:absolute;
  left:389px;
  top:550px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17190 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17191 {
  position:absolute;
  left:389px;
  top:455px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u17192 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u17193 {
  position:absolute;
  left:458px;
  top:613px;
  width:144px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u17194 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u17195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u17195 {
  position:absolute;
  left:910px;
  top:615px;
  width:72px;
  height:14px;
  font-size:11px;
}
#u17196 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u17197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:14px;
}
#u17197 {
  position:absolute;
  left:458px;
  top:637px;
  width:117px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u17198 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u17199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:92px;
}
#u17199 {
  position:absolute;
  left:458px;
  top:292px;
  width:105px;
  height:92px;
}
#u17200 {
  position:absolute;
  left:2px;
  top:38px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:92px;
}
#u17201 {
  position:absolute;
  left:597px;
  top:292px;
  width:105px;
  height:92px;
}
#u17202 {
  position:absolute;
  left:2px;
  top:38px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:92px;
}
#u17203 {
  position:absolute;
  left:737px;
  top:292px;
  width:105px;
  height:92px;
}
#u17204 {
  position:absolute;
  left:2px;
  top:38px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17205 {
  position:absolute;
  left:348px;
  top:684px;
  width:661px;
  height:46px;
}
#u17206 {
  position:absolute;
  left:2px;
  top:15px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17207 {
  position:absolute;
  left:907px;
  top:694px;
  width:74px;
  height:26px;
}
#u17208 {
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u17209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u17210 {
  position:absolute;
  left:174px;
  top:515px;
  width:48px;
  height:48px;
  font-size:11px;
}
#u17211 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  word-wrap:break-word;
}
#u17212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17212 {
  position:absolute;
  left:239px;
  top:518px;
  width:29px;
  height:16px;
}
#u17213 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17214 {
  position:absolute;
  left:239px;
  top:546px;
  width:15px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17215 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u17216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17216 {
  position:absolute;
  left:267px;
  top:546px;
  width:65px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17217 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u17219 {
  position:absolute;
  left:174px;
  top:587px;
  width:48px;
  height:48px;
  font-size:11px;
}
#u17220 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  word-wrap:break-word;
}
#u17221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17221 {
  position:absolute;
  left:239px;
  top:590px;
  width:29px;
  height:16px;
}
#u17222 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17223 {
  position:absolute;
  left:239px;
  top:618px;
  width:15px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17224 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u17225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17225 {
  position:absolute;
  left:267px;
  top:618px;
  width:65px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17226 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u17228 {
  position:absolute;
  left:174px;
  top:658px;
  width:48px;
  height:48px;
  font-size:11px;
}
#u17229 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  word-wrap:break-word;
}
#u17230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17230 {
  position:absolute;
  left:239px;
  top:661px;
  width:29px;
  height:16px;
}
#u17231 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17232 {
  position:absolute;
  left:239px;
  top:689px;
  width:15px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17233 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u17234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u17234 {
  position:absolute;
  left:267px;
  top:689px;
  width:65px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u17235 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17236 {
  position:absolute;
  left:816px;
  top:694px;
  width:74px;
  height:26px;
}
#u17237 {
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u17238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:92px;
}
#u17238 {
  position:absolute;
  left:876px;
  top:292px;
  width:105px;
  height:92px;
}
#u17239 {
  position:absolute;
  left:2px;
  top:38px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17240 {
  position:absolute;
  left:159px;
  top:92px;
  width:189px;
  height:46px;
}
#u17241 {
  position:absolute;
  left:2px;
  top:15px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u17242 {
  position:absolute;
  left:281px;
  top:112px;
  width:57px;
  height:16px;
  color:#0000FF;
}
#u17243 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u17244 {
  position:absolute;
  left:459px;
  top:144px;
  width:67px;
  height:14px;
  font-size:11px;
}
#u17245 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
