body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:823px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:823px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:404px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2026 {
  position:absolute;
  left:2px;
  top:0px;
  width:300px;
  height:31px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2028 {
  position:absolute;
  left:8px;
  top:4px;
  width:23px;
  height:23px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2030 {
  position:absolute;
  left:15px;
  top:47px;
  width:181px;
  height:32px;
}
#u2031 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2032 {
  position:absolute;
  left:211px;
  top:47px;
  width:76px;
  height:16px;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u2034 {
  position:absolute;
  left:15px;
  top:127px;
  width:45px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2036 {
  position:absolute;
  left:15px;
  top:151px;
  width:272px;
  height:126px;
  font-size:11px;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u2038 {
  position:absolute;
  left:15px;
  top:98px;
  width:49px;
  height:10px;
  font-size:8px;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u2040 {
  position:absolute;
  left:150px;
  top:98px;
  width:20px;
  height:10px;
  font-size:8px;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u2042 {
  position:absolute;
  left:270px;
  top:98px;
  width:17px;
  height:10px;
  font-size:8px;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u2044 {
  position:absolute;
  left:15px;
  top:300px;
  width:45px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u2046 {
  position:absolute;
  left:15px;
  top:328px;
  width:49px;
  height:37px;
  font-size:9px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:6px;
  width:45px;
  word-wrap:break-word;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2048 {
  position:absolute;
  left:74px;
  top:330px;
  width:221px;
  height:32px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:2px;
}
#u2050 {
  position:absolute;
  left:8px;
  top:118px;
  width:287px;
  height:1px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:-8px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:2px;
}
#u2052 {
  position:absolute;
  left:8px;
  top:287px;
  width:287px;
  height:1px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:-8px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u2054 {
  position:absolute;
  left:15px;
  top:435px;
  width:45px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:140px;
}
#u2056 {
  position:absolute;
  left:15px;
  top:459px;
  width:272px;
  height:140px;
  font-size:11px;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u2058 {
  position:absolute;
  left:15px;
  top:609px;
  width:45px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:130px;
}
#u2060 {
  position:absolute;
  left:15px;
  top:633px;
  width:236px;
  height:130px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:57px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:130px;
}
#u2062 {
  position:absolute;
  left:261px;
  top:633px;
  width:41px;
  height:130px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:57px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u2064 {
  position:absolute;
  left:15px;
  top:384px;
  width:45px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:14px;
}
#u2066 {
  position:absolute;
  left:15px;
  top:408px;
  width:170px;
  height:14px;
  font-size:11px;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2068 {
  position:absolute;
  left:0px;
  top:783px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u2069 {
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u2070 {
  position:absolute;
  left:320px;
  top:112px;
  width:805px;
  height:339px;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2071 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2073 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u2075 {
  position:absolute;
  left:200px;
  top:0px;
  width:600px;
  height:30px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:7px;
  width:596px;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2079 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:36px;
  text-align:left;
}
#u2080 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:36px;
}
#u2081 {
  position:absolute;
  left:200px;
  top:30px;
  width:600px;
  height:36px;
  text-align:left;
}
#u2082 {
  position:absolute;
  left:2px;
  top:10px;
  width:596px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2083 {
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:36px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2085 {
  position:absolute;
  left:100px;
  top:66px;
  width:100px;
  height:36px;
  text-align:left;
}
#u2086 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:36px;
}
#u2087 {
  position:absolute;
  left:200px;
  top:66px;
  width:600px;
  height:36px;
  text-align:left;
}
#u2088 {
  position:absolute;
  left:2px;
  top:10px;
  width:596px;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2089 {
  position:absolute;
  left:0px;
  top:102px;
  width:100px;
  height:36px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2091 {
  position:absolute;
  left:100px;
  top:102px;
  width:100px;
  height:36px;
  text-align:left;
}
#u2092 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:36px;
}
#u2093 {
  position:absolute;
  left:200px;
  top:102px;
  width:600px;
  height:36px;
  text-align:left;
}
#u2094 {
  position:absolute;
  left:2px;
  top:10px;
  width:596px;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2095 {
  position:absolute;
  left:0px;
  top:138px;
  width:100px;
  height:36px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2097 {
  position:absolute;
  left:100px;
  top:138px;
  width:100px;
  height:36px;
  text-align:left;
}
#u2098 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:36px;
}
#u2099 {
  position:absolute;
  left:200px;
  top:138px;
  width:600px;
  height:36px;
  text-align:left;
}
#u2100 {
  position:absolute;
  left:2px;
  top:10px;
  width:596px;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2101 {
  position:absolute;
  left:0px;
  top:174px;
  width:100px;
  height:36px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2103 {
  position:absolute;
  left:100px;
  top:174px;
  width:100px;
  height:36px;
  text-align:left;
}
#u2104 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:36px;
}
#u2105 {
  position:absolute;
  left:200px;
  top:174px;
  width:600px;
  height:36px;
  text-align:left;
}
#u2106 {
  position:absolute;
  left:2px;
  top:10px;
  width:596px;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:210px;
  width:100px;
  height:36px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2109 {
  position:absolute;
  left:100px;
  top:210px;
  width:100px;
  height:36px;
  text-align:left;
}
#u2110 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:36px;
}
#u2111 {
  position:absolute;
  left:200px;
  top:210px;
  width:600px;
  height:36px;
  text-align:left;
}
#u2112 {
  position:absolute;
  left:2px;
  top:10px;
  width:596px;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2113 {
  position:absolute;
  left:0px;
  top:246px;
  width:100px;
  height:36px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2115 {
  position:absolute;
  left:100px;
  top:246px;
  width:100px;
  height:36px;
  text-align:left;
}
#u2116 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:36px;
}
#u2117 {
  position:absolute;
  left:200px;
  top:246px;
  width:600px;
  height:36px;
  text-align:left;
}
#u2118 {
  position:absolute;
  left:2px;
  top:10px;
  width:596px;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2119 {
  position:absolute;
  left:0px;
  top:282px;
  width:100px;
  height:52px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2121 {
  position:absolute;
  left:100px;
  top:282px;
  width:100px;
  height:52px;
  text-align:left;
}
#u2122 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:52px;
}
#u2123 {
  position:absolute;
  left:200px;
  top:282px;
  width:600px;
  height:52px;
  text-align:left;
}
#u2124 {
  position:absolute;
  left:2px;
  top:2px;
  width:596px;
  word-wrap:break-word;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  position:absolute;
  left:320px;
  top:63px;
  width:407px;
  height:32px;
}
#u2126 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2127 {
  position:absolute;
  left:399px;
  top:873px;
  width:303px;
  height:40px;
  color:#FFFFFF;
}
#u2128 {
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2129 {
  position:absolute;
  left:494px;
  top:654px;
  width:208px;
  height:118px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:51px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2131 {
  position:absolute;
  left:584px;
  top:663px;
  width:29px;
  height:16px;
}
#u2132 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2133 {
  position:absolute;
  left:515px;
  top:691px;
  width:177px;
  height:16px;
  font-size:11px;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2135 {
  position:absolute;
  left:621px;
  top:731px;
  width:64px;
  height:26px;
  font-size:11px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u2137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#333333;
}
#u2137 {
  position:absolute;
  left:525px;
  top:731px;
  width:64px;
  height:26px;
  font-size:11px;
  color:#333333;
}
#u2138 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u2139 {
  position:absolute;
  left:672px;
  top:654px;
  width:30px;
  height:25px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2141 {
  position:absolute;
  left:303px;
  top:803px;
  width:0px;
  height:0px;
}
#u2141_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u2141_seg1 {
  position:absolute;
  left:119px;
  top:-94px;
  width:8px;
  height:98px;
}
#u2141_seg2 {
  position:absolute;
  left:119px;
  top:-94px;
  width:72px;
  height:8px;
}
#u2141_seg3 {
  position:absolute;
  left:165px;
  top:-110px;
  width:40px;
  height:40px;
}
#u2142 {
  position:absolute;
  left:73px;
  top:-26px;
  width:100px;
  word-wrap:break-word;
}
#u2143 {
  position:absolute;
  left:152px;
  top:823px;
  width:0px;
  height:0px;
}
#u2143_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u2143_seg1 {
  position:absolute;
  left:-4px;
  top:66px;
  width:251px;
  height:8px;
}
#u2143_seg2 {
  position:absolute;
  left:221px;
  top:50px;
  width:40px;
  height:40px;
}
#u2144 {
  position:absolute;
  left:38px;
  top:62px;
  width:100px;
  word-wrap:break-word;
}
