body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1129px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:596px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:596px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:290px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1954 {
  position:absolute;
  left:2px;
  top:0px;
  width:300px;
  height:31px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1956 {
  position:absolute;
  left:8px;
  top:4px;
  width:23px;
  height:23px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:557px;
}
#u1958 {
  position:absolute;
  left:4px;
  top:33px;
  width:296px;
  height:557px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:270px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1960 {
  position:absolute;
  left:329px;
  top:89px;
  width:324px;
  height:48px;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u1962 {
  position:absolute;
  left:329px;
  top:165px;
  width:805px;
  height:95px;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1965 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u1967 {
  position:absolute;
  left:200px;
  top:0px;
  width:600px;
  height:30px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:7px;
  width:596px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1969 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1971 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u1972 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u1973 {
  position:absolute;
  left:200px;
  top:30px;
  width:600px;
  height:30px;
  text-align:left;
}
#u1974 {
  position:absolute;
  left:2px;
  top:7px;
  width:596px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1975 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1977 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u1978 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u1979 {
  position:absolute;
  left:200px;
  top:60px;
  width:600px;
  height:30px;
  text-align:left;
}
#u1980 {
  position:absolute;
  left:2px;
  top:7px;
  width:596px;
  word-wrap:break-word;
}
