body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:317px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:583px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4583 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:583px;
}
#u4584 {
  position:absolute;
  left:2px;
  top:284px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4585 {
  position:absolute;
  left:2px;
  top:0px;
  width:300px;
  height:31px;
}
#u4586 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u4587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4587 {
  position:absolute;
  left:8px;
  top:4px;
  width:23px;
  height:23px;
}
#u4588 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u4589 {
  position:absolute;
  left:15px;
  top:60px;
  width:78px;
  height:14px;
  font-size:11px;
}
#u4590 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u4591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:2px;
}
#u4591 {
  position:absolute;
  left:8px;
  top:165px;
  width:275px;
  height:1px;
}
#u4592 {
  position:absolute;
  left:2px;
  top:-8px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:43px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4593 {
  position:absolute;
  left:0px;
  top:540px;
  width:303px;
  height:43px;
  color:#FFFFFF;
}
#u4594 {
  position:absolute;
  left:2px;
  top:14px;
  width:299px;
  word-wrap:break-word;
}
#u4595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u4595 {
  position:absolute;
  left:153px;
  top:145px;
  width:133px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u4596 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u4597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#0000FF;
}
#u4597 {
  position:absolute;
  left:248px;
  top:11px;
  width:69px;
  height:14px;
  font-size:11px;
  color:#0000FF;
}
#u4598 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4599 {
  position:absolute;
  left:268px;
  top:57px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4600 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u4601 {
  position:absolute;
  left:15px;
  top:97px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u4602 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4603 {
  position:absolute;
  left:15px;
  top:135px;
  width:60px;
  height:12px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4604 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u4605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u4605 {
  position:absolute;
  left:149px;
  top:53px;
  width:118px;
  height:12px;
  font-size:9px;
}
#u4606 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u4607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u4607 {
  position:absolute;
  left:149px;
  top:69px;
  width:118px;
  height:12px;
  font-size:9px;
}
#u4608 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
