body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25075 {
  position:absolute;
  left:217px;
  top:126px;
  width:805px;
  height:215px;
}
#u25076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u25076 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u25077 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u25078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u25078 {
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:30px;
}
#u25079 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u25080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u25080 {
  position:absolute;
  left:400px;
  top:0px;
  width:120px;
  height:30px;
}
#u25081 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u25082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u25082 {
  position:absolute;
  left:520px;
  top:0px;
  width:160px;
  height:30px;
}
#u25083 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u25084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u25084 {
  position:absolute;
  left:680px;
  top:0px;
  width:120px;
  height:30px;
}
#u25085 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u25086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u25086 {
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:60px;
}
#u25087 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u25088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u25088 {
  position:absolute;
  left:200px;
  top:30px;
  width:200px;
  height:60px;
}
#u25089 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u25090 {
  position:absolute;
  left:400px;
  top:30px;
  width:120px;
  height:60px;
}
#u25091 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u25092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u25092 {
  position:absolute;
  left:520px;
  top:30px;
  width:160px;
  height:60px;
}
#u25093 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  word-wrap:break-word;
}
#u25094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u25094 {
  position:absolute;
  left:680px;
  top:30px;
  width:120px;
  height:60px;
  color:#0000FF;
}
#u25095 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u25096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u25096 {
  position:absolute;
  left:0px;
  top:90px;
  width:200px;
  height:60px;
}
#u25097 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u25098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u25098 {
  position:absolute;
  left:200px;
  top:90px;
  width:200px;
  height:60px;
}
#u25099 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u25100 {
  position:absolute;
  left:400px;
  top:90px;
  width:120px;
  height:60px;
}
#u25101 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u25102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u25102 {
  position:absolute;
  left:520px;
  top:90px;
  width:160px;
  height:60px;
}
#u25103 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  word-wrap:break-word;
}
#u25104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u25104 {
  position:absolute;
  left:680px;
  top:90px;
  width:120px;
  height:60px;
  color:#0000FF;
}
#u25105 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u25106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u25106 {
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:60px;
}
#u25107 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u25108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u25108 {
  position:absolute;
  left:200px;
  top:150px;
  width:200px;
  height:60px;
}
#u25109 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u25110 {
  position:absolute;
  left:400px;
  top:150px;
  width:120px;
  height:60px;
}
#u25111 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u25112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
}
#u25112 {
  position:absolute;
  left:520px;
  top:150px;
  width:160px;
  height:60px;
}
#u25113 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  word-wrap:break-word;
}
#u25114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u25114 {
  position:absolute;
  left:680px;
  top:150px;
  width:120px;
  height:60px;
  color:#0000FF;
}
#u25115 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u25117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25117 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
}
#u25118 {
  position:absolute;
  left:2px;
  top:18px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:35px;
}
#u25119 {
  position:absolute;
  left:23px;
  top:8px;
  width:27px;
  height:35px;
}
#u25120 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u25121 {
  position:absolute;
  left:60px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u25122 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u25123 {
  position:absolute;
  left:924px;
  top:22px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u25124 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u25125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25125 {
  position:absolute;
  left:896px;
  top:16px;
  width:20px;
  height:20px;
}
#u25126 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u25127 {
  position:absolute;
  left:836px;
  top:12px;
  width:29px;
  height:29px;
}
#u25128 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u25129 {
  position:absolute;
  left:857px;
  top:12px;
  width:11px;
  height:11px;
}
#u25130 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u25131 {
  position:absolute;
  left:967px;
  top:14px;
  width:22px;
  height:22px;
}
#u25132 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u25133 {
  position:absolute;
  left:171px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u25134 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u25135 {
  position:absolute;
  left:312px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u25136 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:541px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u25138 {
  position:absolute;
  left:0px;
  top:50px;
  width:143px;
  height:541px;
  color:#666666;
  text-align:left;
}
#u25139 {
  position:absolute;
  left:2px;
  top:262px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u25140 {
  position:absolute;
  left:22px;
  top:65px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u25141 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u25142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u25142 {
  position:absolute;
  left:40px;
  top:102px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u25143 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u25144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u25144 {
  position:absolute;
  left:40px;
  top:139px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u25145 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u25146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u25146 {
  position:absolute;
  left:22px;
  top:174px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u25147 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u25148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u25148 {
  position:absolute;
  left:40px;
  top:211px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u25149 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u25150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u25150 {
  position:absolute;
  left:40px;
  top:248px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u25151 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u25152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u25152 {
  position:absolute;
  left:22px;
  top:283px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u25153 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u25154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u25154 {
  position:absolute;
  left:40px;
  top:320px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u25155 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u25156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u25156 {
  position:absolute;
  left:40px;
  top:357px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u25157 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u25158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u25158 {
  position:absolute;
  left:22px;
  top:392px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u25159 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u25160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u25160 {
  position:absolute;
  left:40px;
  top:429px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u25161 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u25162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u25162 {
  position:absolute;
  left:22px;
  top:464px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u25163 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u25164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u25164 {
  position:absolute;
  left:40px;
  top:499px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u25165 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u25166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u25166 {
  position:absolute;
  left:40px;
  top:534px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u25167 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u25168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25168 {
  position:absolute;
  left:207px;
  top:66px;
  width:88px;
  height:33px;
}
#u25169 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u25170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u25170 {
  position:absolute;
  left:458px;
  top:167px;
  width:109px;
  height:45px;
}
#u25171 {
  position:absolute;
  left:2px;
  top:14px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u25172 {
  position:absolute;
  left:458px;
  top:226px;
  width:109px;
  height:45px;
}
#u25173 {
  position:absolute;
  left:2px;
  top:14px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u25174 {
  position:absolute;
  left:458px;
  top:286px;
  width:109px;
  height:45px;
}
#u25175 {
  position:absolute;
  left:2px;
  top:14px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:37px;
}
#u25176 {
  position:absolute;
  left:376px;
  top:346px;
  width:641px;
  height:37px;
}
#u25177 {
  position:absolute;
  left:2px;
  top:10px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
