body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u23048 {
  position:absolute;
  left:158px;
  top:64px;
  width:131px;
  height:16px;
  font-size:14px;
  color:#0000FF;
}
#u23049 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u23050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:638px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u23050 {
  position:absolute;
  left:233px;
  top:100px;
  width:661px;
  height:638px;
  font-size:11px;
}
#u23051 {
  position:absolute;
  left:2px;
  top:311px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u23052 {
  position:absolute;
  left:274px;
  top:118px;
  width:48px;
  height:48px;
  font-size:11px;
}
#u23053 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  word-wrap:break-word;
}
#u23054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u23054 {
  position:absolute;
  left:344px;
  top:118px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u23055 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u23056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23056 {
  position:absolute;
  left:274px;
  top:176px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23057 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u23058 {
  position:absolute;
  left:467px;
  top:126px;
  width:24px;
  height:14px;
  font-size:11px;
}
#u23059 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u23060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u23060 {
  position:absolute;
  left:517px;
  top:126px;
  width:40px;
  height:14px;
  font-size:11px;
}
#u23061 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u23062 {
  position:absolute;
  left:432px;
  top:126px;
  width:12px;
  height:14px;
  font-size:11px;
}
#u23063 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u23064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u23064 {
  position:absolute;
  left:589px;
  top:126px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u23065 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u23066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u23066 {
  position:absolute;
  left:343px;
  top:176px;
  width:523px;
  height:98px;
  font-size:11px;
}
#u23067 {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u23068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u23068 {
  position:absolute;
  left:274px;
  top:419px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u23069 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u23070 {
  position:absolute;
  left:343px;
  top:419px;
  width:68px;
  height:14px;
  font-size:11px;
}
#u23071 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u23072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u23072 {
  position:absolute;
  left:421px;
  top:419px;
  width:78px;
  height:14px;
  font-size:11px;
}
#u23073 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u23074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u23074 {
  position:absolute;
  left:343px;
  top:464px;
  width:49px;
  height:14px;
  font-size:8px;
  color:#999999;
}
#u23075 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u23076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u23076 {
  position:absolute;
  left:400px;
  top:464px;
  width:49px;
  height:14px;
  font-size:8px;
  color:#999999;
}
#u23077 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u23078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u23078 {
  position:absolute;
  left:457px;
  top:464px;
  width:49px;
  height:14px;
  font-size:8px;
  color:#999999;
}
#u23079 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u23080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u23080 {
  position:absolute;
  left:516px;
  top:464px;
  width:49px;
  height:14px;
  font-size:8px;
  color:#999999;
}
#u23081 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u23082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u23082 {
  position:absolute;
  left:274px;
  top:510px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u23083 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u23084 {
  position:absolute;
  left:343px;
  top:510px;
  width:269px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u23085 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u23086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u23086 {
  position:absolute;
  left:828px;
  top:511px;
  width:39px;
  height:14px;
  font-size:11px;
}
#u23087 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u23088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u23088 {
  position:absolute;
  left:343px;
  top:558px;
  width:144px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u23089 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u23090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u23090 {
  position:absolute;
  left:795px;
  top:560px;
  width:72px;
  height:14px;
  font-size:11px;
}
#u23091 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u23092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:14px;
}
#u23092 {
  position:absolute;
  left:343px;
  top:582px;
  width:117px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u23093 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u23094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u23094 {
  position:absolute;
  left:274px;
  top:558px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u23095 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u23096 {
  position:absolute;
  left:274px;
  top:463px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u23097 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u23098 {
  position:absolute;
  left:343px;
  top:621px;
  width:144px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u23099 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u23100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u23100 {
  position:absolute;
  left:795px;
  top:623px;
  width:72px;
  height:14px;
  font-size:11px;
}
#u23101 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u23102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:14px;
}
#u23102 {
  position:absolute;
  left:343px;
  top:645px;
  width:117px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u23103 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u23104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:92px;
}
#u23104 {
  position:absolute;
  left:343px;
  top:300px;
  width:105px;
  height:92px;
}
#u23105 {
  position:absolute;
  left:2px;
  top:38px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:92px;
}
#u23106 {
  position:absolute;
  left:482px;
  top:300px;
  width:105px;
  height:92px;
}
#u23107 {
  position:absolute;
  left:2px;
  top:38px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:92px;
}
#u23108 {
  position:absolute;
  left:622px;
  top:300px;
  width:105px;
  height:92px;
}
#u23109 {
  position:absolute;
  left:2px;
  top:38px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:92px;
}
#u23110 {
  position:absolute;
  left:761px;
  top:300px;
  width:105px;
  height:92px;
}
#u23111 {
  position:absolute;
  left:2px;
  top:38px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u23112 {
  position:absolute;
  left:344px;
  top:152px;
  width:67px;
  height:14px;
  font-size:11px;
}
#u23113 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u23114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23114 {
  position:absolute;
  left:532px;
  top:686px;
  width:64px;
  height:25px;
}
#u23115 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u23117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23117 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
}
#u23118 {
  position:absolute;
  left:2px;
  top:18px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:35px;
}
#u23119 {
  position:absolute;
  left:23px;
  top:8px;
  width:27px;
  height:35px;
}
#u23120 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u23121 {
  position:absolute;
  left:60px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u23122 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u23123 {
  position:absolute;
  left:924px;
  top:22px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u23124 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u23125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23125 {
  position:absolute;
  left:896px;
  top:16px;
  width:20px;
  height:20px;
}
#u23126 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u23127 {
  position:absolute;
  left:836px;
  top:12px;
  width:29px;
  height:29px;
}
#u23128 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u23129 {
  position:absolute;
  left:857px;
  top:12px;
  width:11px;
  height:11px;
}
#u23130 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u23131 {
  position:absolute;
  left:967px;
  top:14px;
  width:22px;
  height:22px;
}
#u23132 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23133 {
  position:absolute;
  left:171px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23134 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23135 {
  position:absolute;
  left:312px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23136 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23137 {
  position:absolute;
  left:453px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23138 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23140 {
  position:absolute;
  left:0px;
  top:50px;
  width:143px;
  height:530px;
  color:#666666;
  text-align:left;
}
#u23141 {
  position:absolute;
  left:2px;
  top:257px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23142 {
  position:absolute;
  left:22px;
  top:65px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23143 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u23144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23144 {
  position:absolute;
  left:22px;
  top:102px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23145 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u23146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23146 {
  position:absolute;
  left:22px;
  top:452px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23147 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u23148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23148 {
  position:absolute;
  left:22px;
  top:207px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23149 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u23150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23150 {
  position:absolute;
  left:40px;
  top:242px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23151 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23152 {
  position:absolute;
  left:40px;
  top:137px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23153 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23154 {
  position:absolute;
  left:40px;
  top:172px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23155 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23156 {
  position:absolute;
  left:22px;
  top:277px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23157 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u23158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23158 {
  position:absolute;
  left:40px;
  top:312px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23159 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23160 {
  position:absolute;
  left:40px;
  top:347px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23161 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23162 {
  position:absolute;
  left:40px;
  top:382px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23163 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23164 {
  position:absolute;
  left:40px;
  top:417px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23165 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23166 {
  position:absolute;
  left:22px;
  top:487px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23167 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u23168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23168 {
  position:absolute;
  left:22px;
  top:522px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23169 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
