body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:540px;
}
#u20008 {
  position:absolute;
  left:1071px;
  top:69px;
  width:300px;
  height:540px;
}
#u20009 {
  position:absolute;
  left:2px;
  top:262px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20011 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
}
#u20012 {
  position:absolute;
  left:2px;
  top:18px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:35px;
}
#u20013 {
  position:absolute;
  left:23px;
  top:8px;
  width:27px;
  height:35px;
}
#u20014 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u20015 {
  position:absolute;
  left:60px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u20016 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u20017 {
  position:absolute;
  left:924px;
  top:22px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u20018 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u20019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20019 {
  position:absolute;
  left:896px;
  top:16px;
  width:20px;
  height:20px;
}
#u20020 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u20021 {
  position:absolute;
  left:836px;
  top:12px;
  width:29px;
  height:29px;
}
#u20022 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u20023 {
  position:absolute;
  left:857px;
  top:12px;
  width:11px;
  height:11px;
}
#u20024 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u20025 {
  position:absolute;
  left:967px;
  top:14px;
  width:22px;
  height:22px;
}
#u20026 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20027 {
  position:absolute;
  left:171px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20028 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20029 {
  position:absolute;
  left:312px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20030 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20031 {
  position:absolute;
  left:453px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20032 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u20034 {
  position:absolute;
  left:0px;
  top:50px;
  width:143px;
  height:530px;
  color:#666666;
  text-align:left;
}
#u20035 {
  position:absolute;
  left:2px;
  top:257px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u20036 {
  position:absolute;
  left:22px;
  top:65px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u20037 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u20038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u20038 {
  position:absolute;
  left:22px;
  top:102px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u20039 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u20040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u20040 {
  position:absolute;
  left:22px;
  top:452px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u20041 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u20042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u20042 {
  position:absolute;
  left:22px;
  top:207px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u20043 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u20044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u20044 {
  position:absolute;
  left:40px;
  top:242px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u20045 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u20046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u20046 {
  position:absolute;
  left:40px;
  top:137px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u20047 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u20048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u20048 {
  position:absolute;
  left:40px;
  top:172px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u20049 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u20050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u20050 {
  position:absolute;
  left:22px;
  top:277px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u20051 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u20052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u20052 {
  position:absolute;
  left:40px;
  top:312px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u20053 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u20054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u20054 {
  position:absolute;
  left:40px;
  top:347px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u20055 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u20056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u20056 {
  position:absolute;
  left:40px;
  top:382px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u20057 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u20058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u20058 {
  position:absolute;
  left:40px;
  top:417px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u20059 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u20060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u20060 {
  position:absolute;
  left:22px;
  top:487px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u20061 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u20062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u20062 {
  position:absolute;
  left:22px;
  top:522px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u20063 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u20064 {
  position:absolute;
  left:182px;
  top:112px;
  width:755px;
  height:143px;
}
#u20065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20065 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20066 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u20067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u20067 {
  position:absolute;
  left:100px;
  top:0px;
  width:200px;
  height:30px;
}
#u20068 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u20069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u20069 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:30px;
}
#u20070 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u20071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u20071 {
  position:absolute;
  left:450px;
  top:0px;
  width:200px;
  height:30px;
}
#u20072 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u20073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20073 {
  position:absolute;
  left:650px;
  top:0px;
  width:100px;
  height:30px;
}
#u20074 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u20075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u20075 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
}
#u20076 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u20077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u20077 {
  position:absolute;
  left:100px;
  top:30px;
  width:200px;
  height:36px;
  text-align:left;
}
#u20078 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u20079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u20079 {
  position:absolute;
  left:300px;
  top:30px;
  width:150px;
  height:36px;
  text-align:left;
}
#u20080 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u20081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u20081 {
  position:absolute;
  left:450px;
  top:30px;
  width:200px;
  height:36px;
}
#u20082 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u20083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u20083 {
  position:absolute;
  left:650px;
  top:30px;
  width:100px;
  height:36px;
  color:#0000FF;
}
#u20084 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u20085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u20085 {
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:36px;
}
#u20086 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u20087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u20087 {
  position:absolute;
  left:100px;
  top:66px;
  width:200px;
  height:36px;
  text-align:left;
}
#u20088 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u20089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u20089 {
  position:absolute;
  left:300px;
  top:66px;
  width:150px;
  height:36px;
  text-align:left;
}
#u20090 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u20091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u20091 {
  position:absolute;
  left:450px;
  top:66px;
  width:200px;
  height:36px;
}
#u20092 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u20093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u20093 {
  position:absolute;
  left:650px;
  top:66px;
  width:100px;
  height:36px;
  color:#0000FF;
}
#u20094 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u20095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u20095 {
  position:absolute;
  left:0px;
  top:102px;
  width:100px;
  height:36px;
}
#u20096 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u20097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u20097 {
  position:absolute;
  left:100px;
  top:102px;
  width:200px;
  height:36px;
  text-align:left;
}
#u20098 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u20099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u20099 {
  position:absolute;
  left:300px;
  top:102px;
  width:150px;
  height:36px;
  text-align:left;
}
#u20100 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u20101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u20101 {
  position:absolute;
  left:450px;
  top:102px;
  width:200px;
  height:36px;
}
#u20102 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u20103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u20103 {
  position:absolute;
  left:650px;
  top:102px;
  width:100px;
  height:36px;
  color:#0000FF;
}
#u20104 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u20105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:37px;
}
#u20105 {
  position:absolute;
  left:291px;
  top:276px;
  width:641px;
  height:37px;
}
#u20106 {
  position:absolute;
  left:2px;
  top:10px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20107_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:166px;
  height:25px;
}
#u20107 {
  position:absolute;
  left:900px;
  top:159px;
  width:154px;
  height:5px;
}
#u20108 {
  position:absolute;
  left:2px;
  top:-6px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u20109 {
  position:absolute;
  left:1344px;
  top:69px;
  width:27px;
  height:27px;
}
#u20110 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20111 {
  position:absolute;
  left:1185px;
  top:119px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20112 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:80px;
}
#u20113 {
  position:absolute;
  left:198px;
  top:352px;
  width:560px;
  height:80px;
}
#u20114 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  white-space:nowrap;
}
