body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:303px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:624px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5638 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:624px;
}
#u5639 {
  position:absolute;
  left:2px;
  top:304px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5640 {
  position:absolute;
  left:2px;
  top:0px;
  width:300px;
  height:31px;
}
#u5641 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u5642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5642 {
  position:absolute;
  left:8px;
  top:4px;
  width:23px;
  height:23px;
}
#u5643 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5644 {
  position:absolute;
  left:39px;
  top:43px;
  width:225px;
  height:16px;
}
#u5645 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u5646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5646 {
  position:absolute;
  left:105px;
  top:297px;
  width:94px;
  height:21px;
}
#u5647 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u5648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:191px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5648 {
  position:absolute;
  left:0px;
  top:85px;
  width:303px;
  height:191px;
}
#u5649 {
  position:absolute;
  left:2px;
  top:88px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
