body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23282 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:51px;
}
#u23283 {
  position:absolute;
  left:2px;
  top:18px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:35px;
}
#u23284 {
  position:absolute;
  left:23px;
  top:8px;
  width:27px;
  height:35px;
}
#u23285 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u23286 {
  position:absolute;
  left:60px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#DC3637;
}
#u23287 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u23288 {
  position:absolute;
  left:924px;
  top:22px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u23289 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u23290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23290 {
  position:absolute;
  left:896px;
  top:16px;
  width:20px;
  height:20px;
}
#u23291 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u23292 {
  position:absolute;
  left:836px;
  top:12px;
  width:29px;
  height:29px;
}
#u23293 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u23294 {
  position:absolute;
  left:857px;
  top:12px;
  width:11px;
  height:11px;
}
#u23295 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u23296 {
  position:absolute;
  left:967px;
  top:14px;
  width:22px;
  height:22px;
}
#u23297 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23298 {
  position:absolute;
  left:171px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23299 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23300 {
  position:absolute;
  left:312px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23301 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23302 {
  position:absolute;
  left:453px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23303 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23305 {
  position:absolute;
  left:0px;
  top:50px;
  width:143px;
  height:530px;
  color:#666666;
  text-align:left;
}
#u23306 {
  position:absolute;
  left:2px;
  top:257px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23307 {
  position:absolute;
  left:22px;
  top:65px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23308 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u23309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23309 {
  position:absolute;
  left:22px;
  top:102px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23310 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u23311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23311 {
  position:absolute;
  left:22px;
  top:452px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23312 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u23313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23313 {
  position:absolute;
  left:22px;
  top:207px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23314 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u23315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23315 {
  position:absolute;
  left:40px;
  top:242px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23316 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23317 {
  position:absolute;
  left:40px;
  top:137px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23318 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23319 {
  position:absolute;
  left:40px;
  top:172px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23320 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23321 {
  position:absolute;
  left:22px;
  top:277px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23322 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u23323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23323 {
  position:absolute;
  left:40px;
  top:312px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23324 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23325 {
  position:absolute;
  left:40px;
  top:347px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23326 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23327 {
  position:absolute;
  left:40px;
  top:382px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23328 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u23329 {
  position:absolute;
  left:40px;
  top:417px;
  width:81px;
  height:25px;
  font-size:11px;
  color:#666666;
}
#u23330 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23331 {
  position:absolute;
  left:22px;
  top:487px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23332 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u23333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u23333 {
  position:absolute;
  left:22px;
  top:522px;
  width:99px;
  height:25px;
  color:#666666;
  text-align:left;
}
#u23334 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u23335 {
  position:absolute;
  left:167px;
  top:143px;
  width:755px;
  height:107px;
}
#u23336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23336 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23337 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23338 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
}
#u23339 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23340 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:30px;
}
#u23341 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23342 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:30px;
}
#u23343 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23344 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:30px;
}
#u23345 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u23346 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:36px;
}
#u23347 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u23348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u23348 {
  position:absolute;
  left:150px;
  top:30px;
  width:150px;
  height:36px;
}
#u23349 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u23350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u23350 {
  position:absolute;
  left:300px;
  top:30px;
  width:150px;
  height:36px;
}
#u23351 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u23352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u23352 {
  position:absolute;
  left:450px;
  top:30px;
  width:150px;
  height:36px;
}
#u23353 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u23354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u23354 {
  position:absolute;
  left:600px;
  top:30px;
  width:150px;
  height:36px;
  color:#0000FF;
}
#u23355 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u23356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u23356 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  height:36px;
}
#u23357 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u23358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u23358 {
  position:absolute;
  left:150px;
  top:66px;
  width:150px;
  height:36px;
}
#u23359 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u23360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u23360 {
  position:absolute;
  left:300px;
  top:66px;
  width:150px;
  height:36px;
}
#u23361 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u23362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u23362 {
  position:absolute;
  left:450px;
  top:66px;
  width:150px;
  height:36px;
}
#u23363 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u23364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u23364 {
  position:absolute;
  left:600px;
  top:66px;
  width:150px;
  height:36px;
  color:#0000FF;
}
#u23365 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u23366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23366 {
  position:absolute;
  left:167px;
  top:68px;
  width:71px;
  height:16px;
}
#u23367 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23368 {
  position:absolute;
  left:248px;
  top:64px;
  width:146px;
  height:25px;
}
#u23368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23369 {
  position:absolute;
  left:404px;
  top:69px;
  width:57px;
  height:16px;
}
#u23370 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23371 {
  position:absolute;
  left:471px;
  top:64px;
  width:76px;
  height:25px;
}
#u23371_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23372 {
  position:absolute;
  left:576px;
  top:64px;
  width:76px;
  height:25px;
}
#u23372_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:2px;
}
#u23373 {
  position:absolute;
  left:552px;
  top:76px;
  width:19px;
  height:1px;
}
#u23374 {
  position:absolute;
  left:2px;
  top:-8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23375 {
  position:absolute;
  left:670px;
  top:63px;
  width:81px;
  height:27px;
}
#u23376 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23377 {
  position:absolute;
  left:167px;
  top:105px;
  width:81px;
  height:27px;
}
#u23378 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u23379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:37px;
}
#u23379 {
  position:absolute;
  left:276px;
  top:255px;
  width:641px;
  height:37px;
}
#u23380 {
  position:absolute;
  left:2px;
  top:10px;
  width:637px;
  visibility:hidden;
  word-wrap:break-word;
}
