body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:303px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:676px;
}
#u3880 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:676px;
}
#u3881 {
  position:absolute;
  left:2px;
  top:330px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
