body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:303px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:596px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5794 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:596px;
}
#u5795 {
  position:absolute;
  left:2px;
  top:290px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5796 {
  position:absolute;
  left:2px;
  top:0px;
  width:300px;
  height:31px;
}
#u5797 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u5798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5798 {
  position:absolute;
  left:8px;
  top:4px;
  width:23px;
  height:23px;
}
#u5799 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5800 {
  position:absolute;
  left:14px;
  top:41px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u5801 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u5802 {
  position:absolute;
  left:93px;
  top:41px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u5803 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5804 {
  position:absolute;
  left:173px;
  top:41px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u5805 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5806 {
  position:absolute;
  left:252px;
  top:41px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u5807 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5808 {
  position:absolute;
  left:10px;
  top:115px;
  width:23px;
  height:23px;
  font-size:7px;
}
#u5809 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  word-wrap:break-word;
}
#u5810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5810 {
  position:absolute;
  left:10px;
  top:70px;
  width:181px;
  height:16px;
}
#u5811 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u5812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5812 {
  position:absolute;
  left:219px;
  top:70px;
  width:76px;
  height:16px;
}
#u5813 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u5814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u5814 {
  position:absolute;
  left:10px;
  top:94px;
  width:73px;
  height:12px;
  font-size:9px;
}
#u5815 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u5816 {
  position:absolute;
  left:38px;
  top:122px;
  width:127px;
  height:12px;
  font-size:9px;
}
#u5817 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u5818 {
  position:absolute;
  left:245px;
  top:124px;
  width:49px;
  height:10px;
  font-size:8px;
}
#u5819 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u5820 {
  position:absolute;
  left:10px;
  top:145px;
  width:284px;
  height:1px;
}
#u5821 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5822 {
  position:absolute;
  left:10px;
  top:201px;
  width:23px;
  height:23px;
  font-size:7px;
}
#u5823 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  word-wrap:break-word;
}
#u5824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5824 {
  position:absolute;
  left:10px;
  top:156px;
  width:181px;
  height:16px;
}
#u5825 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u5826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5826 {
  position:absolute;
  left:219px;
  top:156px;
  width:76px;
  height:16px;
}
#u5827 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u5828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u5828 {
  position:absolute;
  left:10px;
  top:180px;
  width:73px;
  height:12px;
  font-size:9px;
}
#u5829 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u5830 {
  position:absolute;
  left:38px;
  top:208px;
  width:127px;
  height:12px;
  font-size:9px;
}
#u5831 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u5832 {
  position:absolute;
  left:245px;
  top:210px;
  width:49px;
  height:10px;
  font-size:8px;
}
#u5833 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u5834 {
  position:absolute;
  left:10px;
  top:231px;
  width:284px;
  height:1px;
}
#u5835 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5836 {
  position:absolute;
  left:9px;
  top:289px;
  width:23px;
  height:23px;
  font-size:7px;
}
#u5837 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  word-wrap:break-word;
}
#u5838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5838 {
  position:absolute;
  left:9px;
  top:244px;
  width:181px;
  height:16px;
}
#u5839 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u5840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5840 {
  position:absolute;
  left:218px;
  top:244px;
  width:76px;
  height:16px;
}
#u5841 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u5842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u5842 {
  position:absolute;
  left:9px;
  top:268px;
  width:73px;
  height:12px;
  font-size:9px;
}
#u5843 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u5844 {
  position:absolute;
  left:37px;
  top:296px;
  width:127px;
  height:12px;
  font-size:9px;
}
#u5845 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u5846 {
  position:absolute;
  left:244px;
  top:298px;
  width:49px;
  height:10px;
  font-size:8px;
}
#u5847 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:2px;
}
#u5848 {
  position:absolute;
  left:9px;
  top:319px;
  width:284px;
  height:1px;
}
#u5849 {
  position:absolute;
  left:2px;
  top:-8px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#0000FF;
}
#u5850 {
  position:absolute;
  left:250px;
  top:10px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#0000FF;
}
#u5851 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
