body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:303px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:596px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:596px;
}
#u1273 {
  position:absolute;
  left:2px;
  top:290px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1274 {
  position:absolute;
  left:2px;
  top:0px;
  width:300px;
  height:31px;
}
#u1275 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1276 {
  position:absolute;
  left:8px;
  top:4px;
  width:23px;
  height:23px;
}
#u1277 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1278 {
  position:absolute;
  left:194px;
  top:550px;
  width:89px;
  height:28px;
}
#u1279 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1280 {
  position:absolute;
  left:27px;
  top:550px;
  width:89px;
  height:28px;
}
#u1281 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u1282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:492px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1282 {
  position:absolute;
  left:8px;
  top:38px;
  width:287px;
  height:492px;
}
#u1283 {
  position:absolute;
  left:2px;
  top:238px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1284 {
  position:absolute;
  left:24px;
  top:58px;
  width:256px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1285 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u1286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:400px;
}
#u1286 {
  position:absolute;
  left:27px;
  top:112px;
  width:246px;
  height:400px;
}
#u1287 {
  position:absolute;
  left:2px;
  top:192px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
